/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
$nav-color: #abcdef;
nav {
  color: $nav-color;
}

/*
 * CSS3 HTML Buttons
 *
 * The CSS3 version of the Simple HTML button is designed by Kazi Tanvir Ahsan
 * Author: blog http://kaziprogrammingblog.com/
 */
 
 // define font family variable
 $kiss-font-type: HelveticaNeue, Arial;
 
 //define mixin for general kiss button
 @mixin kiss-button {
 
     //button display type
     display: inline-block; 
     
     // define font type 
     font: bold 12px/12px $kiss-font-type; 
     
     // define border redius
    border-radius: .5em;  
    
    // no text decoration
    text-decoration: none;
       
 }
 
 // define kiss most simple type button
 .kiss-button-simple {
    
    // include kiss button mixin
    @include kiss-button; 
   
    
    // define padding
    padding: 0.6em 1em; 
    
    // define button color
    color: #555;  
    
    // define border 
    border: 1px solid #dedede;  
    
    
    // define border color
    border-color: #dedede #d8d8d8 #d3d3d3; 
    
    // define text shadow
    text-shadow: 0 1px 0 #fff; 
    
    // define box shadow
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb; 
    
    // define filter
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    
    
    // define background color
    background: #f5f5f5;
    
    
    // define background for webkit
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    
    // define background for firefox
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    
 
 &:hover {
 
    //define text shadow
    text-shadow: 0 1px 0 #fdfdfd;
    
    //define box shadow
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    
    //define border color
    border-color: #c7c7c7 #c3c3c3 #bebebe;   
    
    // define filter
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    
    // define background color
    background: #f4f4f4;
    
    //  define webkit gradient
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    
    // define monzilla linear gradient
    background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
       
 }
 
 }
 
