/*
 * CSS3 HTML Form
 *
 * The CSS3 version of the Simple HTML form is designed by Kazi Tanvir Ahsan
 * Author: blog http://kaziprogrammingblog.com/
 */
@CHARSET "ISO-8859-1";
.kiss_align_form input,
.kiss_align_form Select,
.kiss_align_form textarea,
.kiss_align_form label   {
	width:10.5em;
	display: inline-block;
	margin: 0.25em 0;
	padding: .2em .8em;	
}

.kiss_align_form input,
.kiss_align_form select {
	border: 1px solid #DDD;
	border-radius: 5px;
}

.kiss_align_form input:focus {
	box-shadow: 0 0 1px 1px #ffa853;	
}

